body {
    background-color: #BABCBC;
    background-repeat: no-repeat;
}
.Hi {
    font-size: 80px;
    font-family: cursive;
}
.HelloLines {
    font-size: 30px;
}
.Me {
    position: absolute;
    height: 600px;
    width: 250px;
    left: 1000px;
    bottom: 0px;
}
nav {
    align-items: center;
    display: flex;
}
.Links {
    padding: 10px;
    margin-left:10px;
    font-size: 34px;
    font-family:Verdana; 
    text-decoration: none;
    color: #41267F;
}
    .Links:hover {
        font-size: 35px;
        color: #7AF1F5;
    }

.AboutText {
    font-size: 70px;
    list-style: none;
    line-height: 100px;
    color: #41267F;
    text-shadow: 0 0 18px #7AF1F5;
}
.SkillsText {
    font-size: 30px;
    line-height: 40px;
    color: #41267F;
    text-shadow: 1px 2px  #7AF1F5;
}
.SkillsList{
    list-style:none;
}
.SkillStar {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 415px;
    bottom: 15px;
    transform: rotate(20deg);
}
.HobbiesText {
    font-size: 30px;
    line-height: 50px;
    color: #41267F;
    text-shadow: 1px 2px #7AF1F5;
}
.HobbiesTogetherText {
    line-height: 30px;
}
.HobbiesImg {
    width: 300px;
    height: 300px;
    position: relative;
    left: 800px;
    bottom: 200px;
}

